$react-color: #61DAFB;

$square-border-color: $react-color;
$square-won-color: darken($react-color,40%);
$square-hover-color: darken($react-color,50%);
$square-focus-color: darken($react-color,60%);
$square-text-color: lighten($react-color,20%);

$game-info-border-color: darken($react-color,55%);
$game-info-bg-color: darken($react-color,65%);
$game-status-text-color: darken($react-color,25%);
$game-status-border-color: darken($react-color,55%);

$text-color: darken($react-color,40%);
$link-color: darken($react-color,25%);

$square-width: 35px;
$square-height: 48px;
$square-font-size: 28px;


$game-board-padding: 4px;
$game-info-width: 105px;

$schrollbar-width: 6px;
$schrollbar-height: 6px;

@keyframes App-logo-spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes square-winner {
  from {background: $react-color}
  to {background: $square-focus-color}
}

.winner {
  animation: square-winner infinite 2.5s cubic-bezier(0.05,0.95,0.25,0.95);
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: $schrollbar-width;
  height: $schrollbar-height;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darken($react-color,50%);
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darken($react-color,35%);
}

* {
  margin: 0;
  padding: 0;
}

html, body, div#root  {
  font: 10px sans-serif;
  color: $text-color;
  background: black;
  height: 100%;
  .App {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .App-header {
      height: 84px;
      padding: 4px;
      img.App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 42px;
      }
      p {
        margin: 2px;
        padding: 2px;
        span {white-space: nowrap}
      }
    }
    .App-game {
      flex-grow: 1;
      .Game {
        // border: 1px dotted $react-color;
        padding: 2px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .game-3d-board {
          width: 1.75*($square-width + $square-height);
          min-width: 1.75*($square-width + $square-height);
          height: 4*($square-width + $square-height);
          padding: $square-height;
          // border: 1px solid yellow;
          .game-board {
            margin-top: -2.1*$square-width;
            transform: perspective(50000px) rotateX(60deg) rotateY(0deg) rotateZ(-20deg);
            > div {
              display: table;
              .board-row {
                display: table-row;
                .Square {
                  display: table-cell;
                  background: transparent;
                  border: 1px solid $square-border-color;
                  color: $square-text-color;
                  float: left;
                  font-size: $square-font-size;
                  font-weight: bold;
                  line-height: $square-width;
                  margin-right: -1px;
                  margin-top: -1px;
                  text-align: center;
                  width: $square-width;
                  height: $square-height;
                  &:focus {
                    outline: none;
                    background: $square-focus-color;
                  }
                  &:hover {
                    cursor: pointer;
                    background: $square-hover-color;
                  }
                  &.winner-0 { @extend .winner; }

                }
              }
            }
          }
        }
        .game-info {
          margin-left: 14px;
          margin-right: 14px;
          border: 3px double $game-info-border-color;
          padding: 6px;
          width: $game-info-width;
          min-width: $game-info-width;
          background: $game-info-bg-color;
          .height-100 {
            text-align: left;
            // height: 100%;
            button {
              border: none;
              color: $link-color;
              background: transparent;
              &:focus {outline: none}
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
            span.game-start {}
            span.move {}
            span.arrow {
              padding-left: 7px;
              font-weight: bold;
            }
            > div {
              &.game-status {
                width: $game-info-width - 2*$schrollbar-width;
                border-bottom: 1px solid $game-status-border-color;
                color: $game-status-text-color;
                > p {
                  line-height: 21px;
                  font-size: 1.2em;
                  span {
                    &.draw { b {} }
                    &.winner { b {font-size: 1.4em} }
                    &.next-player { b {font-size: 1.4em} }
                  }
                }
              }
              &.game-history {
                overflow: auto;
                margin-top: 4px;
                padding-top: 2px;
                height: 4.75*($square-width + $square-height);
                ol {
                  padding-left: 17px;
                  li {
                    min-width: $game-info-width - 30px;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
