$react-color: #61DAFB;

$square-border-color: $react-color;
$square-won-color: darken($react-color,40%);
$square-hover-color: darken($react-color,50%);
$square-focus-color: darken($react-color,60%);
$square-text-color: lighten($react-color,20%);

$text-color: darken($react-color,40%);
$link-color: darken($react-color,25%);

$game-status-color: darken($react-color,25%);

$square-width: 35px;
$square-height: 48px;
$square-font-size: 28px;
$game-board-padding: 4px;

@keyframes App-logo-spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

@keyframes square-winner {
  from {background: $react-color}
  to {background: $square-focus-color}
}

html, body, div#root  {
  margin: 0;
  padding: 0;
  font: 10px sans-serif;
  color: $text-color;
  background: black;
  height: 100%;
  .App {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .App-header {
      height: 84px;
      padding: 4px;
      img.App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 42px;
      }
      p {
        margin: 2px;
        padding: 2px;
        span {white-space: nowrap}
      }
    }
    .App-game {
      flex-grow: 1;
      .Game {
        // border: 1px dotted $react-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        $margin: 14px;
        .game-3d-board {
          margin-left: $margin;
          flex-grow: 3;
          padding-top: $square-height;
          .game-board {
            padding: $game-board-padding;
            min-width: 4*$game-board-padding + 4*$square-width;
            max-width: 50%;
            // border: 1px solid gray;
            margin: auto;
            margin-top: -2.3*$square-width;
            transform: perspective(50000px) rotateX(60deg) rotateY(0deg) rotateZ(-20deg);
            > div {
              display: table;
              .board-row {
                display: table-row;
                .Square {
                  display: table-cell;
                  background: transparent;
                  border: 1px solid $square-border-color;
                  color: $square-text-color;
                  float: left;
                  font-size: $square-font-size;
                  font-weight: bold;
                  line-height: $square-width;
                  margin-right: -1px;
                  margin-top: -1px;
                  padding: 0;
                  text-align: center;
                  width: $square-width;
                  height: $square-height;
                  &:focus {
                    outline: none;
                    background: $square-focus-color;
                  }
                  &:hover {
                    cursor: pointer;
                    background: $square-hover-color;
                  }
                  &.winner {
                    animation: square-winner infinite 2s cubic-bezier(0.05,0.95,0.75,0.95);
                  }
                }
              }
            }
          }
        }
        .game-info {
          margin-right: $margin;
          flex-grow: 2;
          padding-top: 7px;
          text-align: left;
          // border: 1px solid #666;
          .height-100 {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            > div {
              margin: 0;
              padding: 0;
              &.game-status {
                // background: #336;
                height: 21px;
                line-height: 21px;
                font-size: 1.2em;
                color: $game-status-color;
                span {
                  &.draw {font-weight: bold;}
                  &.winner {
                    b {font-size: 1.4em}
                  }
                  &.next-player {
                    b {font-size: 1.4em}
                  }
                }
              }
              &.game-history {
                // background: #633;
                flex-grow: 1;
                $left: 17px;
                ol {
                  // border: 1px solid blue;
                  margin: 0;
                  padding: 0px;
                  padding-left: $left;
                  li {
                    // border: 1px solid gray;
                    min-width: 75px;
                    margin: 0;
                    padding: 0;
                    &:first-child {
                      list-style-type: none;
                      margin-top: 4px;
                      margin-bottom: 4px;
                      margin-left: -$left;
                    }
                    button {
                      border: none;
                      margin: 0;
                      padding: 0;
                      color: $link-color;
                      background: transparent;
                      &:focus {outline: none}
                      &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                      }
                      span {
                        &.move {}
                        &.game-start {}
                      }
                    }
                    > span {
                      padding-left: 7px;
                      &.arrow {font-weight: bold}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
